<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
    <label for="off_canvas" class="navbar-toggle custom1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </label>
</div>
</nav>
